<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    		<!--begin::Page Custom Styles(used by this page)-->
		<link href="assets/metronic/assets/plugins/custom/kanban/kanban.bundle.css" rel="stylesheet" type="text/css" />

    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/metronic/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/metronic/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/metronic/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet"
        type="text/css" />

    <!--begin::Layout Themes(used by all pages)-->

    <link href="assets/metronic/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/metronic/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/metronic/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="assets/metronic/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <title></title>
</head>

<body class="tbody" id="theBody">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MockTrialBallot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('app.home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- {% if current_user.is_authenticated %} -->

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('app.logout') }}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item">HostID: {{current_user.hostID}}</a>
                        <a class="dropdown-item">username: {{current_user.username}}</a>
                        <a class="dropdown-item">Type: {{current_user.get_account_type()}}</a>
                        <a class="dropdown-item">Number: {{ current_user.role.value }}</a>
                    </div>
                </li>
                <!-- {% if current_user.role.value == 0 %} -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('judge.judge_panel') }}">Open Panel</a>
                </li>
                <!-- {% endif %} 
      {% if current_user.role.value == 2 %} -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_user.user_panel') }}">User Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_user.event_code_panel') }}">Event Panel</a>
                </li>
                <!-- {% endif %} 
      {% if current_user.role.value == 3 %} -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_user.user_panel') }}">User Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_user.event_code_panel') }}">Event Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">Access Database Directly</a>
                </li>
                <!-- {% endif %}  -->
                <!-- {% if current_user.role.value == 1 %} -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.my_panel') }}">Open Panel</a>
                </li>
                <!-- {% endif %}
      {% else %} -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}">User Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('judge.login') }}">Judge Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_user.login') }}">Admin Login</a>
                </li>
                <!-- {% endif %} -->
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3 team-list">
                <div class="card-body">
                    <div id="kanban_all">

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-8 tab-groupings">
                <div class="card-body">
                    <div id="kanban_grouping">

                    </div>
                </div>
            </div>
            		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
</body>

<footer style=" z-index: 10; height: 3em; margin-top: 3em; bottom: 1.5em;">
    <!--begin::Footer-->
    <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
        <!--begin::Container-->
        <div class=" container-fluid  d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2020&copy;</span>
                <a href="https://yourballot.org/" target="_blank" class="text-dark-75 text-hover-primary">Powered By
                    YourBallot</a>
            </div>
            <!--end::Copyright-->

            <!--begin::Nav-->
            <div class="nav nav-dark">
                <a href="https://yourballot.org/" target="_newtab" class="nav-link pl-0 pr-5">About</a>
                <a href="mailto:jacob.lemler@yourballot.org?cc=joseph.cottingham@yourballot.org" target="_newtab"
                    class="nav-link pl-0 pr-0">Contact</a>
            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Footer-->

    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="assets/metronic/assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/metronic/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/metronic/assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/metronic/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!--end::Page Vendors-->
    		<!--begin::Page Scripts(used by this page)-->
		<script src="assets/metronic/assets/plugins/custom/kanban/kanban.bundle.js"></script>
    <script src="tabbing_editing_jkanban.js"></script>
</footer>

<script>
    $(document).ready(function () {
        if ($(document).height() > $(window).height()) {
            $('#footer').css('position', 'relative');
        }
    });
</script>



</html>